exportPattern("^[[:alpha:]]+")

export(k.mode)
export(classify.states)
export(find.spots)
export(id.spots)
export(calc.kn1)
export(refine.particles)
export(tiff)
export(splus2R)
export(data.table)
export(fitdistrplus)
export(pracma)
export(utils)
